In [72]:
import pandas as pd 
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder

In [63]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [64]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')  
data  = pd.read_csv('personality_dataset.csv')

In [65]:
train.head()
data.head()




val = train.shape[0]
end = data.shape[0]+val
id = [i for i in range(val, end)]


data['id'] = id

In [66]:
data.set_index('id')

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
id,,,,,,,,
18524,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
18525,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
18526,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
18527,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
18528,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert
...,...,...,...,...,...,...,...,...
21419,3.0,No,7.0,6.0,No,6.0,6.0,Extrovert
21420,3.0,No,8.0,3.0,No,14.0,9.0,Extrovert
21421,4.0,Yes,1.0,1.0,Yes,4.0,0.0,Introvert
21422,11.0,Yes,1.0,NaN,Yes,2.0,0.0,Introvert
21423,3.0,No,6.0,6.0,No,6.0,9.0,Extrovert

In [67]:
train = pd.concat([train, data], axis=0, ignore_index=True)

In [68]:
train.head()

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0,0.0,No,6.0,4.0,No,15.0,5.0,Extrovert
1,1,1.0,No,7.0,3.0,No,10.0,8.0,Extrovert
2,2,6.0,Yes,1.0,0.0,NaN,3.0,0.0,Introvert
3,3,3.0,No,7.0,3.0,No,11.0,5.0,Extrovert
4,4,1.0,No,4.0,4.0,No,13.0,NaN,Extrovert

In [69]:
train.tail()

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
21419,21419,3.0,No,7.0,6.0,No,6.0,6.0,Extrovert
21420,21420,3.0,No,8.0,3.0,No,14.0,9.0,Extrovert
21421,21421,4.0,Yes,1.0,1.0,Yes,4.0,0.0,Introvert
21422,21422,11.0,Yes,1.0,NaN,Yes,2.0,0.0,Introvert
21423,21423,3.0,No,6.0,6.0,No,6.0,9.0,Extrovert

In [70]:

train

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0,0.0,No,6.0,4.0,No,15.0,5.0,Extrovert
1,1,1.0,No,7.0,3.0,No,10.0,8.0,Extrovert
2,2,6.0,Yes,1.0,0.0,NaN,3.0,0.0,Introvert
3,3,3.0,No,7.0,3.0,No,11.0,5.0,Extrovert
4,4,1.0,No,4.0,4.0,No,13.0,NaN,Extrovert
...,...,...,...,...,...,...,...,...,...
21419,21419,3.0,No,7.0,6.0,No,6.0,6.0,Extrovert
21420,21420,3.0,No,8.0,3.0,No,14.0,9.0,Extrovert
21421,21421,4.0,Yes,1.0,1.0,Yes,4.0,0.0,Introvert
21422,21422,11.0,Yes,1.0,NaN,Yes,2.0,0.0,Introvert
21423,21423,3.0,No,6.0,6.0,No,6.0,9.0,Extrovert

In [75]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21424 entries, 0 to 21423
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         21424 non-null  int64
 1   Time_spent_Alone           20171 non-null  float64
 2   Stage_fear                 19458 non-null  object
 3   Social_event_attendance    20182 non-null  float64
 4   Going_outside              19892 non-null  float64
 5   Drained_after_socializing  20223 non-null  object
 6   Friends_circle_size        20293 non-null  float64
 7   Post_frequency             20095 non-null  float64
 8   Personality                21424 non-null  object
dtypes: float64(5), int64(1), object(3)
memory usage: 1.5+ MB

In [76]:
num = train.select_dtypes(include=[np.number]).columns.tolist()
colm = train.select_dtypes(include=[object]).columns.tolist()

In [87]:
le = LabelEncoder()
train[colm] = train[colm].fillna('missing')

In [ ]:
train

      Stage_fear Drained_after_socializing Personality
0             No                        No   Extrovert
1             No                        No   Extrovert
2            Yes                   missing   Introvert
3             No                        No   Extrovert
4             No                        No   Extrovert
...          ...                       ...         ...
21419         No                        No   Extrovert
21420         No                        No   Extrovert
21421        Yes                       Yes   Introvert
21422        Yes                       Yes   Introvert
21423         No                        No   Extrovert

[21424 rows x 3 columns]