In [528]:
import pandas as pd 
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [529]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [530]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')  
data  = pd.read_csv('personality_dataset.csv')

In [531]:
train.head()
data.head()




val = train.shape[0]
end = data.shape[0]+val
id = [i for i in range(val, end)]


data['id'] = id

In [532]:
data.set_index('id')

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
id,,,,,,,,
18524,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
18525,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
18526,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
18527,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
18528,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert
...,...,...,...,...,...,...,...,...
21419,3.0,No,7.0,6.0,No,6.0,6.0,Extrovert
21420,3.0,No,8.0,3.0,No,14.0,9.0,Extrovert
21421,4.0,Yes,1.0,1.0,Yes,4.0,0.0,Introvert
21422,11.0,Yes,1.0,NaN,Yes,2.0,0.0,Introvert
21423,3.0,No,6.0,6.0,No,6.0,9.0,Extrovert

In [533]:
train = pd.concat([train, data], axis=0, ignore_index=True)

In [534]:
train.head()

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0,0.0,No,6.0,4.0,No,15.0,5.0,Extrovert
1,1,1.0,No,7.0,3.0,No,10.0,8.0,Extrovert
2,2,6.0,Yes,1.0,0.0,NaN,3.0,0.0,Introvert
3,3,3.0,No,7.0,3.0,No,11.0,5.0,Extrovert
4,4,1.0,No,4.0,4.0,No,13.0,NaN,Extrovert

In [535]:
train.tail()

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
21419,21419,3.0,No,7.0,6.0,No,6.0,6.0,Extrovert
21420,21420,3.0,No,8.0,3.0,No,14.0,9.0,Extrovert
21421,21421,4.0,Yes,1.0,1.0,Yes,4.0,0.0,Introvert
21422,21422,11.0,Yes,1.0,NaN,Yes,2.0,0.0,Introvert
21423,21423,3.0,No,6.0,6.0,No,6.0,9.0,Extrovert

In [536]:

train

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0,0.0,No,6.0,4.0,No,15.0,5.0,Extrovert
1,1,1.0,No,7.0,3.0,No,10.0,8.0,Extrovert
2,2,6.0,Yes,1.0,0.0,NaN,3.0,0.0,Introvert
3,3,3.0,No,7.0,3.0,No,11.0,5.0,Extrovert
4,4,1.0,No,4.0,4.0,No,13.0,NaN,Extrovert
...,...,...,...,...,...,...,...,...,...
21419,21419,3.0,No,7.0,6.0,No,6.0,6.0,Extrovert
21420,21420,3.0,No,8.0,3.0,No,14.0,9.0,Extrovert
21421,21421,4.0,Yes,1.0,1.0,Yes,4.0,0.0,Introvert
21422,21422,11.0,Yes,1.0,NaN,Yes,2.0,0.0,Introvert
21423,21423,3.0,No,6.0,6.0,No,6.0,9.0,Extrovert

In [537]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21424 entries, 0 to 21423
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         21424 non-null  int64
 1   Time_spent_Alone           20171 non-null  float64
 2   Stage_fear                 19458 non-null  object
 3   Social_event_attendance    20182 non-null  float64
 4   Going_outside              19892 non-null  float64
 5   Drained_after_socializing  20223 non-null  object
 6   Friends_circle_size        20293 non-null  float64
 7   Post_frequency             20095 non-null  float64
 8   Personality                21424 non-null  object
dtypes: float64(5), int64(1), object(3)
memory usage: 1.5+ MB

In [538]:
scalar = StandardScaler()
train

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0,0.0,No,6.0,4.0,No,15.0,5.0,Extrovert
1,1,1.0,No,7.0,3.0,No,10.0,8.0,Extrovert
2,2,6.0,Yes,1.0,0.0,NaN,3.0,0.0,Introvert
3,3,3.0,No,7.0,3.0,No,11.0,5.0,Extrovert
4,4,1.0,No,4.0,4.0,No,13.0,NaN,Extrovert
...,...,...,...,...,...,...,...,...,...
21419,21419,3.0,No,7.0,6.0,No,6.0,6.0,Extrovert
21420,21420,3.0,No,8.0,3.0,No,14.0,9.0,Extrovert
21421,21421,4.0,Yes,1.0,1.0,Yes,4.0,0.0,Introvert
21422,21422,11.0,Yes,1.0,NaN,Yes,2.0,0.0,Introvert
21423,21423,3.0,No,6.0,6.0,No,6.0,9.0,Extrovert

In [539]:
num = train.select_dtypes(include=[np.number]).columns.tolist()
numT = test.select_dtypes(include=[np.number]).columns.tolist()

colm = train.select_dtypes(include=[object]).columns.tolist()
colmt = test.select_dtypes(include=[object]).columns.tolist()
traget = train['Personality']

In [540]:
df_encoded = train[colm].copy()
df_encodedT = test[colmt].copy()
label_encoders = {}
le = LabelEncoder()


for col in colm:
    df_encoded[col] = df_encoded[col].fillna("Missing")
    
    df_encoded[col] = le.fit_transform(df_encoded[col])
    label_encoders[col] = le
    
    
for col in colmt:
    if col ==  "Personality":
        continue
    df_encodedT[col] = df_encodedT[col].fillna("Missing")
    le = label_encoders[col]
    df_encodedT[col] = le.fit_transform(df_encodedT[col])

In [541]:
traget = le.fit_transform(traget)

In [542]:

traget

array([0, 0, 1, ..., 1, 1, 0], shape=(21424,))

In [543]:
df_encoded.head()
df_encodedT.head()

   Stage_fear  Drained_after_socializing
0           1                          1
1           2                          2
2           1                          1
3           1                          1
4           2                          2

In [544]:
train

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0,0.0,No,6.0,4.0,No,15.0,5.0,Extrovert
1,1,1.0,No,7.0,3.0,No,10.0,8.0,Extrovert
2,2,6.0,Yes,1.0,0.0,NaN,3.0,0.0,Introvert
3,3,3.0,No,7.0,3.0,No,11.0,5.0,Extrovert
4,4,1.0,No,4.0,4.0,No,13.0,NaN,Extrovert
...,...,...,...,...,...,...,...,...,...
21419,21419,3.0,No,7.0,6.0,No,6.0,6.0,Extrovert
21420,21420,3.0,No,8.0,3.0,No,14.0,9.0,Extrovert
21421,21421,4.0,Yes,1.0,1.0,Yes,4.0,0.0,Introvert
21422,21422,11.0,Yes,1.0,NaN,Yes,2.0,0.0,Introvert
21423,21423,3.0,No,6.0,6.0,No,6.0,9.0,Extrovert

In [545]:
train
test

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency
0,18524,3.0,No,7.0,4.0,No,6.0,NaN
1,18525,NaN,Yes,0.0,0.0,Yes,5.0,1.0
2,18526,3.0,No,5.0,6.0,No,15.0,9.0
3,18527,3.0,No,4.0,4.0,No,5.0,6.0
4,18528,9.0,Yes,1.0,2.0,Yes,1.0,1.0
...,...,...,...,...,...,...,...,...
6170,24694,3.0,No,5.0,5.0,No,9.0,6.0
6171,24695,8.0,Yes,2.0,1.0,Yes,0.0,0.0
6172,24696,2.0,No,4.0,3.0,No,9.0,7.0
6173,24697,3.0,No,4.0,4.0,No,11.0,9.0
6174,24698,NaN,Yes,1.0,1.0,Yes,1.0,0.0

In [546]:
train = pd.concat([train[num], df_encoded], axis=1)
test = pd.concat([test[numT], df_encodedT], axis=1)

In [547]:
test.head()

,id,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency,Stage_fear,Drained_after_socializing
0,18524,3.0,7.0,4.0,6.0,NaN,1,1
1,18525,NaN,0.0,0.0,5.0,1.0,2,2
2,18526,3.0,5.0,6.0,15.0,9.0,1,1
3,18527,3.0,4.0,4.0,5.0,6.0,1,1
4,18528,9.0,1.0,2.0,1.0,1.0,2,2

In [548]:
train = pd.DataFrame(scalar.fit_transform(train), columns=train.columns)    
test = pd.DataFrame(scalar.fit_transform(test), columns=test.columns)

In [549]:
train

,id,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency,Stage_fear,Drained_after_socializing,Personality
0,-1.731970,-1.070283,0.326494,0.049242,1.694585,0.074417,-0.286376,-0.382228,-0.640626
1,-1.731808,-0.748894,0.682173,-0.422139,0.524878,1.099144,-0.286376,-0.382228,-0.640626
2,-1.731647,0.858053,-1.451900,-1.836282,-1.112712,-1.633461,1.483769,-2.300889,1.560973
3,-1.731485,-0.106115,0.682173,-0.422139,0.758820,0.074417,-0.286376,-0.382228,-0.640626
4,-1.731323,-0.748894,-0.384863,0.049242,1.226702,NaN,-0.286376,-0.382228,-0.640626
...,...,...,...,...,...,...,...,...,...
21419,1.731323,-0.106115,0.682173,0.992004,-0.410887,0.415993,-0.286376,-0.382228,-0.640626
21420,1.731485,-0.106115,1.037852,-0.422139,1.460644,1.440720,-0.286376,-0.382228,-0.640626
21421,1.731647,0.215274,-1.451900,-1.364901,-0.878770,-1.633461,1.483769,1.536433,1.560973
21422,1.731808,2.464999,-1.451900,NaN,-1.346653,-1.633461,1.483769,1.536433,1.560973
21423,1.731970,-0.106115,0.326494,0.992004,-0.410887,1.440720,-0.286376,-0.382228,-0.640626

In [550]:
test

,id,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency,Stage_fear,Drained_after_socializing
0,-1.731770,-0.039147,0.620786,-0.018501,-0.479067,NaN,-0.219853,-0.276823
1,-1.731209,NaN,-1.917457,-1.974465,-0.717597,-1.405269,1.607320,1.678989
2,-1.730648,-0.039147,-0.104427,0.959481,1.667705,1.385068,-0.219853,-0.276823
3,-1.730087,-0.039147,-0.467033,-0.018501,-0.717597,0.338692,-0.219853,-0.276823
4,-1.729526,1.970635,-1.554851,-0.996483,-1.671718,-1.405269,1.607320,1.678989
...,...,...,...,...,...,...,...,...
6170,1.729526,-0.039147,-0.104427,0.470490,0.236524,0.338692,-0.219853,-0.276823
6171,1.730087,1.635671,-1.192245,-1.485474,-1.910248,-1.754061,1.607320,1.678989
6172,1.730648,-0.374111,-0.467033,-0.507492,0.236524,0.687484,-0.219853,-0.276823
6173,1.731209,-0.039147,-0.467033,-0.018501,0.713584,1.385068,-0.219853,-0.276823
6174,1.731770,NaN,-1.554851,-1.485474,-1.671718,-1.754061,1.607320,1.678989

In [551]:
imputer = KNNImputer(n_neighbors=5, weights='uniform')
train[train.columns] = imputer.fit_transform(train)
test[test.columns] = imputer.fit_transform(test)

In [552]:
train

,id,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency,Stage_fear,Drained_after_socializing,Personality
0,-1.731970,-1.070283,0.326494,0.049242,1.694585,0.074417,-0.286376,-0.382228,-0.640626
1,-1.731808,-0.748894,0.682173,-0.422139,0.524878,1.099144,-0.286376,-0.382228,-0.640626
2,-1.731647,0.858053,-1.451900,-1.836282,-1.112712,-1.633461,1.483769,-2.300889,1.560973
3,-1.731485,-0.106115,0.682173,-0.422139,0.758820,0.074417,-0.286376,-0.382228,-0.640626
4,-1.731323,-0.748894,-0.384863,0.049242,1.226702,0.415993,-0.286376,-0.382228,-0.640626
...,...,...,...,...,...,...,...,...,...
21419,1.731323,-0.106115,0.682173,0.992004,-0.410887,0.415993,-0.286376,-0.382228,-0.640626
21420,1.731485,-0.106115,1.037852,-0.422139,1.460644,1.440720,-0.286376,-0.382228,-0.640626
21421,1.731647,0.215274,-1.451900,-1.364901,-0.878770,-1.633461,1.483769,1.536433,1.560973
21422,1.731808,2.464999,-1.451900,-1.176348,-1.346653,-1.633461,1.483769,1.536433,1.560973
21423,1.731970,-0.106115,0.326494,0.992004,-0.410887,1.440720,-0.286376,-0.382228,-0.640626

In [553]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21424 entries, 0 to 21423
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         21424 non-null  float64
 1   Time_spent_Alone           21424 non-null  float64
 2   Social_event_attendance    21424 non-null  float64
 3   Going_outside              21424 non-null  float64
 4   Friends_circle_size        21424 non-null  float64
 5   Post_frequency             21424 non-null  float64
 6   Stage_fear                 21424 non-null  float64
 7   Drained_after_socializing  21424 non-null  float64
 8   Personality                21424 non-null  float64
dtypes: float64(9)
memory usage: 1.5 MB

In [554]:
test

,id,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency,Stage_fear,Drained_after_socializing
0,-1.731770,-0.039147,0.620786,-0.018501,-0.479067,0.547967,-0.219853,-0.276823
1,-1.731209,1.300708,-1.917457,-1.974465,-0.717597,-1.405269,1.607320,1.678989
2,-1.730648,-0.039147,-0.104427,0.959481,1.667705,1.385068,-0.219853,-0.276823
3,-1.730087,-0.039147,-0.467033,-0.018501,-0.717597,0.338692,-0.219853,-0.276823
4,-1.729526,1.970635,-1.554851,-0.996483,-1.671718,-1.405269,1.607320,1.678989
...,...,...,...,...,...,...,...,...
6170,1.729526,-0.039147,-0.104427,0.470490,0.236524,0.338692,-0.219853,-0.276823
6171,1.730087,1.635671,-1.192245,-1.485474,-1.910248,-1.754061,1.607320,1.678989
6172,1.730648,-0.374111,-0.467033,-0.507492,0.236524,0.687484,-0.219853,-0.276823
6173,1.731209,-0.039147,-0.467033,-0.018501,0.713584,1.385068,-0.219853,-0.276823
6174,1.731770,1.836650,-1.554851,-1.485474,-1.671718,-1.754061,1.607320,1.678989

In [555]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6175 entries, 0 to 6174
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         6175 non-null   float64
 1   Time_spent_Alone           6175 non-null   float64
 2   Social_event_attendance    6175 non-null   float64
 3   Going_outside              6175 non-null   float64
 4   Friends_circle_size        6175 non-null   float64
 5   Post_frequency             6175 non-null   float64
 6   Stage_fear                 6175 non-null   float64
 7   Drained_after_socializing  6175 non-null   float64
dtypes: float64(8)
memory usage: 386.1 KB

In [556]:
train['Personality'] = traget

train

,id,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency,Stage_fear,Drained_after_socializing,Personality
0,-1.731970,-1.070283,0.326494,0.049242,1.694585,0.074417,-0.286376,-0.382228,0
1,-1.731808,-0.748894,0.682173,-0.422139,0.524878,1.099144,-0.286376,-0.382228,0
2,-1.731647,0.858053,-1.451900,-1.836282,-1.112712,-1.633461,1.483769,-2.300889,1
3,-1.731485,-0.106115,0.682173,-0.422139,0.758820,0.074417,-0.286376,-0.382228,0
4,-1.731323,-0.748894,-0.384863,0.049242,1.226702,0.415993,-0.286376,-0.382228,0
...,...,...,...,...,...,...,...,...,...
21419,1.731323,-0.106115,0.682173,0.992004,-0.410887,0.415993,-0.286376,-0.382228,0
21420,1.731485,-0.106115,1.037852,-0.422139,1.460644,1.440720,-0.286376,-0.382228,0
21421,1.731647,0.215274,-1.451900,-1.364901,-0.878770,-1.633461,1.483769,1.536433,1
21422,1.731808,2.464999,-1.451900,-1.176348,-1.346653,-1.633461,1.483769,1.536433,1
21423,1.731970,-0.106115,0.326494,0.992004,-0.410887,1.440720,-0.286376,-0.382228,0

In [557]:
X = train.drop(columns=['Personality'])
y = traget
balance = len(y)//len(X)
print(balance)

1

In [558]:


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [559]:
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
import matplotlib.pyplot as plt
import warnings


# ==== Define Pipeline ====
pipeline = Pipeline([
    ("scaler", StandardScaler()),
    ("clf", RandomForestClassifier())
])

# ==== Define Param Grid ====
param_grid = [
    {
        "clf": [RandomForestClassifier(random_state=42)],
        "clf__n_estimators": [100, 200],
        "clf__max_depth": [None, 10],
        "clf__min_samples_split": [2, 5],
        "clf__min_samples_leaf": [1, 2]
    },
    {
        "clf": [SVC()],
        "clf__C": [0.1, 1, 10],
        "clf__kernel": ["linear", "rbf"],
        "clf__gamma": ["scale", "auto"]
    },
    {
        "clf": [DecisionTreeClassifier(random_state=42)],
        "clf__max_depth": [None, 10, 20],
        "clf__min_samples_split": [2, 5],
        "clf__min_samples_leaf": [1, 2]
    }
]

# ==== Grid Search ====
grid = GridSearchCV(
    pipeline,
    param_grid,
    cv=5,
    scoring="accuracy",
    n_jobs=-1,
    verbose=2
)

grid.fit(X_train, y_train)

# ==== Best Model & Score ====
print("\nâœ… Best Estimator:", grid.best_estimator_)
print("âœ… Best Parameters:", grid.best_params_)
print("âœ… Best CV Score:", grid.best_score_)

Fitting 5 folds for each of 40 candidates, totalling 200 fits

âœ… Best Estimator: Pipeline(steps=[('scaler', StandardScaler()), ('clf', SVC(C=1))])
âœ… Best Parameters: {'clf': SVC(), 'clf__C': 1, 'clf__gamma': 'scale', 'clf__kernel': 'rbf'}
âœ… Best CV Score: 0.9649922759716834

In [560]:
best_model = grid.best_estimator_
y_pred = best_model.predict(X_test)

In [561]:
accuracy_score = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy_score}")

Accuracy: 0.9624270711785298